*,
*::after,
*::before {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --col-dark: #1f2937;
  --col-primary: #e5e7eb;
  --col-secondary: #f9faf8;
  --col-action: #3882f6;

  /*fonts*/
  --fs-xlarge: 3rem;
  --fs-medium: 2.25rem;
  --fs-small: 1.5rem;
  --fs-xsmall: 1.125rem;
}

body {
  font-family: "Roboto", sans-serif;
}
