.main {
  background-color: var(--col-secondary);
}

.main__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3em;
  background-color: var(--col-secondary);
}

.main__input {
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: min-content;
  height: fit-content;
  margin: 2em;
  padding: 1em;
  text-align: left;
  background-color: var(--col-primary);
  box-shadow: 1px 1px 1px 1px rgb(192, 190, 190);
  cursor: pointer;
}

.article__main {
  display: flex;
}

.article__main--title {
  font-size: 0.8rem;
  font-weight: bold;
}

.article__main--para {
  font-size: 0.9rem;
}

.article__detail {
  display: flex;
  justify-content: space-between;
}

.article__detail--small {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-xsmall);
}

@media screen and (min-width: 38em) {
  .article {
    margin: 0.8em;
  }
}

@media screen and (min-width: 60em) {
  .main__section {
    max-width: 106.25rem;
    margin: auto;
  }
  .article {
    margin: 3em 2em;
    padding: 2em;
    transition: all 0.2s ease-in-out;
  }

  .article__main--title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .article__main--para {
    font-size: 1.2rem;
  }

  .article:hover {
    transform: scale(1.1);
  }

  /* .hover {
        border: 4px solid;
        border-image: repeating-linear-gradient(
          135deg,
          var(--col-action) 0 10px,
          var(--col-secondary) 0 20px,
          var(--col-dark) 0 30px
        ) 8;
        -webkit-mask: 
          conic-gradient(from 180deg at top 4px right 4px, #0000 90deg, #000 0)
          var(--_i, 200%) 0 / 200% var(--_i, 4px) border-box no-repeat,
          conic-gradient(at bottom 4px left 4px, #0000 90deg, #000 0)
          0 var(--_i, 200%) / var(--_i, 4px) 200% border-box no-repeat,
          linear-gradient(#000 0 0) padding-box no-repeat;
        transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
      }
      
      .hover:hover {
        --_i: 100%;
        transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
      } */
}
