/* HERO SECTION */

.hero__container {
  width: 100%;
  background-color: var(--col-dark);
  position: relative;
  top: -2px;
}

.hero__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  color: var(--col-primary);
  padding: 3em 0;
  max-width: 70%;
  margin: auto;
  background-color: var(--col-dark);
}

.hero__image-container {
  flex-grow: 0;
  flex-basis: 50%;
}

.hero__img {
  width: 100%;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.main__title {
  /*   font-size: clamp(1.75rem, 4vw, 2rem); */
  font-size: clamp(2.625rem, 1.5rem + 1.25vw, 3rem);
  font-weight: bold;
  margin-bottom: 5px;
}

.main__para {
  max-width: 25rem;
  font-size: 18px;
  letter-spacing: 0.6px;
}

.btn__hero {
  width: fit-content;
  position: relative;
  overflow: hidden;
  color: var(--col-primary);
  cursor: pointer;
  z-index: 1;
}

.btn__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--col-primary);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn__hero:hover::before {
  width: 100%;
}

.btn__hero:hover {
  color: #3882f6;
  box-shadow: 0 0 10px var(--col-primary);
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 1.5em 1.5em 1.5em 0em;
  flex-grow: 0;
  flex-basis: 50%;
}

/* INFO SERVICES */
.information__services {
  padding: 5rem 2rem;
}

.information__services > h3 {
  text-align: center;
  padding-bottom: 40px;
  color: var(--col-dark);
  font-weight: bolder;
  font-size: 36px;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
  width: 100%;
  gap: 20px;
}

.services__card--article {
  text-align: center;
  border: 4px transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--col-dark);
  font-size: 14px;
  border-bottom: 1px solid var(--col-action);

  /* set of variables for defining inside animations styling */
  --c: var(--col-action);
  --b: 7px;
  --g: 5px;

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(
        from 180deg at top var(--b) right var(--b),
        var(--_g)
      )
      var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0
      var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}

.information__services--title {
  color: var(--col-primary);
}

.services__card--article:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.services__cards article:hover {
  transform: scale(110%);
  transition: 0.7s;
  cursor: pointer;
}

.service__title {
  margin: 5px;
}

/* QUOTE SECTION */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--col-primary);
  padding: 6rem;
}

.quote__wrapper {
  max-width: 70%;
  margin: auto;
}

.quote__text {
  width: 100%;
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
  font-style: italic;
  color: var(--col-dark);
}

.quote__author {
  margin-top: 40px;
  font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
  color: var(--col-dark);
  display: block;
  float: right;
}

/* ACTION SIGNUP*/
.action__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem;
  padding-bottom: calc(7rem - 49px);
}

.action__signup--wrap {
  background: var(--col-action);
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1rem;
}

.action__signup--sub-header {
  font-size: 26px;
  font-weight: 600;
}

.action__signup--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--col-primary);
}

.action__signup--detail {
  font-size: 15px;
  font-weight: lighter;
}

/**************    Media queries ********************/

/*Phones sizes*/
@media screen and (max-width: 480px) {
  /* INFO SERVICES */

  .information__services > h3 {
    padding: 20px;
    font-size: 26px;
  }

  .services__cards {
    flex-direction: column;
    align-items: center;
  }

  .hero__section,
  .main__content {
    width: 100% !important;
  }

  .main__content {
    gap: 15px;
    padding: 1.5em 1.5em 1.5em 1.5em;
  }

  .hero__wrapper {
    max-width: unset;
  }

  /* QUOTE SECTION */
  .quote {
    padding: 10px;
  }

  .quote__text {
    padding-bottom: 20px;
  }

  .quote__author {
    padding: 0;
    margin: 0;
  }
}

/*tablet sizes*/
@media screen and (max-width: 768px) {
  /* ACTION SIGNUP */
  .action__signup {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .services__card--article {
    width: 100%;
    flex-basis: 100% !important;
  }

  .quote__wrapper {
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  .quote {
    padding: 2rem;
  }

  .action__signup--wrap {
    max-width: 100% !important;
    width: 100%;
  }

  .main__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .action__signup--text {
    font-size: 20px;
  }

  .action__signup--detail {
    font-size: 12px;
  }
  .btn__action {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 5px 25px;
  }
}

@media screen and (max-width: 1100px) {
  .action__signup--wrap {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .action__signup--content {
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
  }

  .btn__action-signup {
    width: max-content;
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 1440px) {
  .hero__section {
    flex-direction: column;
  }

  .services__card--article {
    flex-basis: 35%;
  }

  .main__title {
    font-size: clamp(2.625rem, 0.625rem + 4.1667vw, 4.375rem);
  }

  .hero__section--btn-wrap {
    justify-content: center;
    display: flex;
    width: clamp(150px, 100%, 200px);
  }

  .main__content {
    padding: 1.5rem;
    align-items: center;
  }

  .main__para {
    text-align: center;
  }
}
