/* GENERAL ELEMENTS */

.btn {
  background-color: var(--col-action);
  color: var(--col-secondary);
  font-size: 1.7rem;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 40px;
  margin-top: 25px;
}
.btn:hover {
  opacity: calc(0.8);
}

.btn__action {
  background-color: var(--col-action);
  color: var(--col-secondary);
  font-size: 1.5rem;
  border: 3px solid var(--col-secondary);
  border-radius: 10px;
  cursor: pointer;
  margin: 40px 0;
  padding: 5px 35px;
}

.btn__action:hover {
  opacity: calc(0.8);
}

/* HEADER */
/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 6rem;
}

.nav__logo {
  font-size: 24px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  padding: 0.2rem 1.5rem;
  border-radius: 50px;
  background-color: var(--col-dark);
  color: var(--col-secondary);
  font-size: 18px;
  text-decoration: none;
  transition: 1s;
}

.nav__link:hover,
.nav__link:active {
  background-color: var(--col-secondary);
  color: var(--col-dark);
}

/* HERO */
.hero {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--col-dark);
}

.hero__title {
  display: flex;
  flex-direction: row;
  width: 150vh;
  padding: 4em 0;
  justify-content: space-between;
}
.main__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero__img {
  height: 300px;
  width: auto;
}

/* INFO SERVICES */
.information__services {
  padding: 4rem 2rem;
}

.information__services > h3 {
  text-align: center;
  padding-bottom: 40px;
  color: var(--col-dark);
  font-weight: bolder;
  font-size: 36px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services__cards article {
  text-align: center;
  border: 4px transparent;
  border-radius: 20px;
  padding: 5px;
  width: 12%;
  margin-bottom: 30px;
  color: var(--col-dark);
  font-size: 14px;
}
.services__cards article:hover {
  transform: scale(110%);
  transition: 0.7s;
  cursor: pointer;
}

.service__title {
  margin: 5px;
}

/* QUOTE SECTION */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--col-primary);
  padding: 4rem 6rem;
}
.quote__text {
  width: 65%;
  font-size: 36px;
  font-style: italic;
  color: var(--col-dark);
}
.author {
  margin-left: 500px;
  margin-top: 20px;
  font-size: 24px;
  color: var(--col-dark);
}

/* ACTION SIGNUP*/
.action__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 7rem;
}

.action__signup div {
  display: flex;
  background-color: var(--col-action);
  border-radius: 10px;
  width: 70%;
  color: var(--col-secondary);
  padding: 0.5rem 1rem;
}

.action__signup--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--col-secondary);
  font-weight: bolder;
  font-size: 25px;
}

.action__signup--detail {
  font-size: 15px;
  font-weight: lighter;
}

/* FOOTER */
.footer {
  padding: 2rem 3rem;
  background-color: var(--col-dark);
}

.footer__copyright {
  font-size: 1.4rem;
  color: var(--col-primary);
  text-align: center;
}

/**************    Media queries ********************/

/*Phones sizes*/
@media screen and (max-width: 480px) {
  /* HEADER */
  /* NAVIGATION */
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0;
  }

  .nav__logo {
    font-size: 26px;
  }

  .nav__links {
    align-items: center;
    padding: 10px;
  }

  .nav__item {
    margin: 10px 20px;
  }

  .nav__link:link,
  .nav__link:visited {
    padding: 5px 10px;
    font-size: 16px;
  }

  /* HERO */
  .hero {
    padding: 20px;
    margin: 0;
  }

  .hero__title {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 20px;
    width: auto;
  }
  .main__title {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .hero__img {
    height: 220px;
    width: auto;
    padding-top: 20px;
  }

  .btn {
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 40px;
    margin-top: 25px;
  }

  /* INFO SERVICES */
  .information__services {
    padding: 0;
  }

  .information__services > h3 {
    padding: 20px;
    font-size: 26px;
  }
  .services__cards {
    flex-direction: column;
    align-items: center;
  }
  .services__cards article {
    width: 80%;
  }

  /* QUOTE SECTION */
  .quote {
    padding: 10px;
  }
  .quote__text {
    font-size: 20px;
  }
  .author {
    padding: 0;
    margin: 0;
  }

  /* ACTION SIGNUP */
  .action__signup {
    flex-direction: column;
    padding: 20px;
  }

  .action__signup div {
    flex-direction: column;
    align-items: center;
  }

  .action__signup--detail {
    font-size: 12px;
  }
  .btn__action {
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px 25px;
  }
}

/*tablet sizes*/
@media screen and (max-width: 768px) {
  /* ACTION SIGNUP */
  .action__signup {
    flex-direction: column;
    padding: 20px;
  }

  .action__signup div {
    flex-direction: column;
    align-items: center;
  }

  .action__signup--text {
    font-size: 20px;
  }

  .action__signup--detail {
    font-size: 12px;
  }
  .btn__action {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 5px 25px;
  }
}

/*screen sizes*/
@media screen and (max-width: 1024px) {
}
