/* INFO SERVICES */
.information__services {
  padding: 4rem 2rem;
}

.information__services > h3 {
  text-align: center;
  padding-bottom: 40px;
  color: var(--col-dark);
  font-weight: bolder;
  font-size: 36px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services__cards article {
  text-align: center;
  border: 4px transparent;
  border-radius: 20px;
  padding: 5px;
  width: 12%;
  margin-bottom: 30px;
  color: var(--col-dark);
  font-size: 14px;
}
.services__cards article:hover {
  transform: scale(110%);
  transition: 0.7s;
  cursor: pointer;
}

.service__title {
  margin: 5px;
}

/* QUOTE SECTION */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--col-primary);
  padding: 4rem 6rem;
}
.quote__text {
  width: 65%;
  font-size: 36px;
  font-style: italic;
  color: var(--col-dark);
}
.author {
  margin-left: 500px;
  margin-top: 20px;
  font-size: 24px;
  color: var(--col-dark);
}

/* ACTION SIGNUP*/
.action__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 7rem;
}

.action__signup div {
  display: flex;
  background-color: var(--col-action);
  border-radius: 10px;
  width: 70%;
  color: var(--col-secondary);
  padding: 0.5rem 1rem;
}

.action__signup--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--col-secondary);
  font-weight: bolder;
  font-size: 25px;
}

.action__signup--detail {
  font-size: 15px;
  font-weight: lighter;
}


/**************    Media queries ********************/

/*Phones sizes*/
@media screen and (max-width: 480px) {
  

  /* INFO SERVICES */
  .information__services {
    padding: 0;
  }

  .information__services > h3 {
    padding: 20px;
    font-size: 26px;
  }
  .services__cards {
    flex-direction: column;
    align-items: center;
  }
  .services__cards article {
    width: 80%;
  }

  /* QUOTE SECTION */
  .quote {
    padding: 10px;
  }
  .quote__text {
    font-size: 20px;
  }
  .author {
    padding: 0;
    margin: 0;
  }

  /* ACTION SIGNUP */
  .action__signup {
    flex-direction: column;
    padding: 20px;
  }

  .action__signup div {
    flex-direction: column;
    align-items: center;
  }

  .action__signup--detail {
    font-size: 12px;
  }
  .btn__action {
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px 25px;
  }
}

/*tablet sizes*/
@media screen and (max-width: 768px) {
  /* ACTION SIGNUP */
  .action__signup {
    flex-direction: column;
    padding: 20px;
  }

  .action__signup div {
    flex-direction: column;
    align-items: center;
  }

  .action__signup--text {
    font-size: 20px;
  }

  .action__signup--detail {
    font-size: 12px;
  }
  .btn__action {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 5px 25px;
  }
}