/* Global styles for all articles */
.news-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: min-content;
  height: fit-content;
  margin: 2em;
  padding: 1em;
  text-align: left;
  background-color: var(--col-primary);
  box-shadow: 1px 1px 1px 1px rgb(192, 190, 190);
  cursor: pointer;
  color: var(--col-dark);
}

.news-article__main {
  display: flex;
}

.news-article__title {
  font-size: 0.8rem;
  font-weight: bold;
}

.news-article__para {
  font-size: 0.9rem;
}

.news-article__detail {
  display: flex;
  justify-content: space-between;
}

.news-article__detail--small {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-xsmall);
}


.news-container .news-input {
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
  color: var(--col-dark);
}

.news-container .news-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3em;
  background-color: var(--col-secondary);
}

/*Media queries*/

@media screen and (min-width: 38em) {
  .news-container .news-article {
    margin: 0.8em;
  }
}

@media screen and (min-width: 60em) {
  .news-container .news-section {
    max-width: 106.25rem;
    margin: auto;
  }
  .news-container .news-article {
    margin: 3em 2em;
    padding: 2em;
    transition: all 0.2s ease-in-out;
  }

  .news-article__title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .news-article__para {
    font-size: 1.2rem;
  }

  .news-article:hover {
    transform: scale(1.1);
  }
}
