/* Global styles for all articles */
.news-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: min-content;
  margin: 2em;
  padding: 1em;
  text-align: left;
  background-color: var(--col-secondary);
  box-shadow: 1px 1px 1px 1px rgb(192, 190, 190);
  cursor: pointer;
  color: slategray;
}

.news-article__main {
  display: flex;
}

.news-article__title {
  font-size: 0.2rem;
  /* padding: 1em; */
}

.news-article__para {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-article__detail {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.news-article__detail--small {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-xsmall);
}

.news-input {
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
  color: var(--col-dark);
}

.news-input select {
  background-color: var(--col-action);
  color: var(--col-secondary);
  padding: 0.2em;
  text-align: center;
}

.news-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3em;
  background-color: var(--col-secondary);
}

/*Media queries*/

@media screen and (min-width: var(--m-w)) {
  .news-article {
    margin: 0.8em;
  }
}

@media screen and (min-width: var(--l-w)) {
  .news-section {
    max-width: 106.25rem;
    margin: auto;
  }

  .news-article {
    margin: 3em 2em;
    padding: 2em;
    transition: all 0.2s ease-in-out;
  }

  .news-article__title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .news-article__para {
    font-size: 1.2rem;
  }

  .news-article:hover {
    transform: scale(1.1);
  }
}
