*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --col-dark: #1f2937;
  --col-primary: #e5e7eb;
  --col-secondary: #f9faf8;
  --col-action: #3882f6;

  /*fonts*/
  --fs-xlarge: 3rem;
  --fs-medium: 2.25rem;
  --fs-small: 1.5rem;
  --fs-xsmall: 1.125rem;

  /*Media queries viewport width*/
  --xs-w: 480px;
  --m-w: 768px;
  --l-w: 1024px;
  --xl-w: 1444px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--col-primary);
  background-color: var(--col-secondary);
}


/* GENERAL ELEMENTS */

.btn {
  background-color: var(--col-action);
  color: var(--col-secondary);
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  font-weight: 500;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  padding: 0.625rem calc(1.25rem + 1vw);
  margin-top: 1.25rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn__action {
  background-color: var(--col-action);
  color: var(--col-secondary);
  font-size: 1.3rem;
  border: 3px solid var(--col-secondary);
  border-radius: 0.625rem;
  cursor: pointer;
  margin: 2.5rem 0;
  padding: 5px calc(1.25rem + 1vw);
}

.btn__action:hover {
  opacity: 0.8;
}

/* HEADER */
/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 calc(1rem + 1vw);
}

.nav__logo {
  font-size: clamp(1.625rem, 3vw, 2.25rem);
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  padding: 5px calc(0.625rem + 1vw);
  border-radius: 3.125rem;
  background-color: var(--col-dark);
  color: var(--col-secondary);
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  text-decoration: none;
  transition: 1s;
}

.nav__link:hover,
.nav__link:active {
  background-color: var(--col-secondary);
  color: var(--col-dark);
}

/* HERO */
.hero {
  padding: 2rem calc(1rem + 1vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--col-dark);
}

.hero__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  color: var(--col-primary);
  padding: 2em 0;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.main__title {
  font-size: clamp(1.75rem, 4vw, 2rem);
  font-weight: bold;
  margin-bottom: 5px;
}

.main__para {
  max-width: 25rem;
}

.main__content {
  padding: 1.5em;
}

/* FOOTER */
.footer {
  padding: 2rem calc(3rem + 1vw);
  background-color: var(--col-dark);
}

.footer__link {
  color: var(--col-primary);
  text-decoration: none;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.footer__copyright {
  color: var(--col-primary);
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

/* TABLET (min-width: 768px) */
@media screen and (min-width: var(--m-w)) {
  .main__title {
    font-size: clamp(2rem, 3vw, 2.25rem);
  }
}

/* DESKTOP (min-width: 1024px) */
@media screen and (min-width: var(--l-w)) {
  .main__title {
    font-size: clamp(3rem, 4vw, 3.5rem);
  }
}
